<div class="grid-about-text">
  <span class="grid-about-text-transparent">bout</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-black">about</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-transparent">about</span>
  <span class="grid-about-text-black">about</span>
</div>
