.hear-you-wrapper {
  display: flex;
  padding-top: 1px;
  padding-left: 150px;
  height: 640px;
  margin-top: 140px;
  background: #ECF8FF;
  justify-content: left;
  flex-direction: column;
  border-radius: 30px;
}

.hear-you-center-right {
  margin-top: 172px;
  margin-left: 140px;
  display: flex;
  justify-content: left;
  align-items: center;

}

.hear-you-center-right > h2 {
  font-size: 65px;
  font-weight: 900;
  line-height: 78px;
}

.hear-you-list-flex {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.hear-you-list-flex > input {
  width: 280px;
  height: 60px;
  border-radius: 30px;
  border: none;
  margin: 0 5px;
  font-size: 18px;
  padding-left: 24px;
  outline: none;
}

.hear-you-button {
  display: flex;
  width: 229px;
  height: 60px;
  background: #00A3FF;
  border-radius: 30px;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 550;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
}

.hear-you-img {
  margin: 17px -15px auto 25px;
  background: url("../../assets/img/icon20.svg") no-repeat;
  width: 32px;
  height: 32px;
}
