<div class="flex-services-text" id="services-animal">
  <span class="flex-services-text-transparent">vices</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-black">services</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-transparent">services</span>
  <span class="flex-services-text-black">ser</span>
</div>
