.board-saved-lives {
  display: flex;
  position: relative;
  height: 600px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-gap: 25px;
}

.board-saved-lives> h2 {
  display: block;
  width: 35%;
  font-size: 65px;
  font-weight: 800;
  text-align: center;
  line-height: 78px;

}

.board-saved-lives > span {
  display: block;
  width: 20%;
  font-size: 15px;
  line-height: 22px;
  color: rgba(1, 15, 1, 0.5);
}

.lives-button {
  display: flex;
  width: 200px;
  height: 60px;
  font-size: 70px;
  background: #00A3FF;
  border-radius: 40px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.saved-lives-read-reviews {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  line-height: 28px;

}

.saved-lives-dog1 {
  position: absolute;
  background: url("../../assets/img/Lives-dog11.png");
  width: 180px;
  height: 180px;
  top: -20px;
  left: 3%;
  /*left: 60px;*/
}

.saved-lives-icon1 {
  position: absolute;
  background: url("../../assets/img/icon11.svg") no-repeat;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 18.8%;
  /*left: 360px;*/

}

.saved-lives-icon2 {
  position: absolute;
  background: url("../../assets/img/icon12.svg");
  width: 50px;
  height: 50px;
  top: 330px;
  left: 1%;
  /*left: 20px;*/
}

.saved-lives-cat1 {
  position: absolute;
  background: url("../../assets/img/Lives-cat1.png") no-repeat;
  width: 120px;
  height: 120px;
  top: 250px;
  left: 8.4%;
  /*left: 160px;*/
}

.saved-lives-icon3 {
  position: absolute;
  background: url("../../assets/img/icon13.svg");
  width: 50px;
  height: 50px;
  top: 500px;
  left: 7.8%;
  /*left: 150px;*/
}

.saved-lives-bird1 {
  position: absolute;
  background: url("../../assets/img/Lives-bird1.png");
  width: 160px;
  height: 160px;
  top: 460px;
  left: 17%;
  /*left: 330px;*/

}

.saved-lives-icon4 {
  display: block;
  background: url("../../assets/img/icon14.svg");
  width: 50px;
  height: 50px;
}

.saved-lives-cat2 {
  position: absolute;
  background: url("../../assets/img/Lives-cat2.png");
  width: 180px;
  height: 180px;
  top: 20px;
  right: 10%;
  /*right: 190px;*/
}

.saved-lives-bird2 {
  position: absolute;
  background: url("../../assets/img/Lives-bird2.png") no-repeat;
  width: 68px;
  height: 100px;
  top: 130px;
  right: 0.01%;
  /*right: 1px;*/
}

.saved-lives-icon5 {
  position: absolute;
  background: url("../../assets/img/icon15.svg");
  width: 50px;
  height: 50px;
  top: 300px;
  right: 16.8%;
  /*right: 320px;*/
}

.saved-lives-dog2 {
  position: absolute;
  background: url("../../assets/img/Lives-dog2.png");
  width: 140px;
  height: 140px;
  top: 350px;
  right: 4.35%;
  /*right: 80px;*/
}

.saved-lives-dog3 {
  position: absolute;
  background: url("../../assets/img/Lives-dog3.png");
  width: 160px;
  height: 160px;
  top: 450px;
  right: 16%;
  /*right: 300px;*/
}
