<div class="board-saved-lives">
  <div class="saved-lives-dog1"></div>
  <div class="saved-lives-icon1"></div>
  <div class="saved-lives-icon2"></div>
  <div class="saved-lives-cat1"></div>
  <div class="saved-lives-bird1"></div>
  <div class="saved-lives-icon3"></div>
    <div class="saved-lives-icon4"></div>
    <h2>We already saved hundreds of lives</h2>
    <span>
      Mauris semper venenatis nibh vitae euismod. Curabitur
      dignissim lorem ac orci et egestas tortor sagittis. Fusce interdum
      laces ut elit elementum
    </span>
    <a class="lives-button" href="">
      <div class="saved-lives-read-reviews">Read reviews</div></a>
  <div class="saved-lives-cat2"></div>
  <div class="saved-lives-bird2"></div>
  <div class="saved-lives-icon5"></div>
  <div class="saved-lives-dog2"></div>
  <div class="saved-lives-dog3"></div>
</div>
