.advantages-card-wrapper {
  position: relative;
  width: 280px;
  align-items:center;
  text-align: center;
  margin-bottom: 140px;
}

.advantages-card-img {
  display: inline-block;
  vertical-align: middle;
}

.advantages-card-text-list {
  position: absolute;
  top:180px;
}

.advantages-card-text {
  display: block;
  line-height: 34px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 15px;
}

.advantages-card-text-about {
  display: block;
  line-height: 22px;
  font-size: 15px;
  color: rgba(1, 15, 1, 0.5);
}
