<div class="flex-advantages-text" id="advantages-animal">
  <span class="flex-advantages-text-transparent">advantages</span>
  <span class="flex-advantages-text-transparent">advantages</span>
  <span class="flex-advantages-text-black">advantages</span>
  <span class="flex-advantages-text-transparent">advantages</span>
  <span class="flex-advantages-text-transparent">advantages</span>
  <span class="flex-advantages-text-transparent">advantages</span>
  <span class="flex-advantages-text-black">adv</span>
</div>
